DJANGO_SETTINGS_MODULE=backend.settings.production
#DATABASE
DB_NAME=myproject
DB_USER=myprojectuser
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=PORT
#
DEBUG=True
SECRET_KEY=KEYKEYKEYKEYKEYKEY
ALLOWED_HOSTS=*
#Africastalking
AFRICASTALKING_USERNAME=YOUR_USERNAME_GOES_HERE
AFRICASTALKING_API_KEY=YOUR_API_KEY_GOES_HERE
AFRICASTALKING_PAYMENT_PROD_NAME=YOUR_AFRICASTALKING_PAYMENT_PROD_NAME_GOES_HERE
AFRICASTALKING_CURRENCY=3-letter-ISO-currency-code