env_variables:
  SECRET: ""
  DEBUG: True
  PROD: True
  SECRET_KEY: ""
  DJANGO_SETTINGS_MODULE: "backend.settings.production"
  ALLOWED_HOSTS: ""
  # DATABASE
  DB_NAME: ""
  DB_USER: ""
  DB_PASSWORD: ""
  DB_HOST: ""
  DB_PORT: 4444
  # STORAGE BUCKET
  GS_BUCKET_NAME: ""
  GS_LOCATION: ""
  GS_DEFAULT_ACL: ""
  # AFRICASTALKING
  AFRICASTALKING_USERNAME: ""
  AFRICASTALKING_API_KEY: ""
  AFRICASTALKING_PAYMENT_PROD_NAME: ""
  AFRICASTALKING_CURRENCY: ""
