{% extends "base_generic.html" %} {% block content %}

<main>
  <section class="uk-section uk-section-small">
    <div class="uk-container">
      <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
        <div class="uk-text-center">
          <ul class="uk-breadcrumb uk-flex-center uk-margin-remove">
            <li><a href="/">Home</a></li>
            <li><span>Catalog</span></li>
          </ul>
          <h1 class="uk-margin-small-top uk-margin-remove-bottom">Catalog</h1>
          <div class="uk-text-meta uk-margin-xsmall-top">641 items</div>
        </div>
        <div>
          <div class="uk-grid-medium" uk-grid>
            <aside class="uk-width-1-4 uk-visible@m tm-aside-column">
              <nav
                class="uk-card uk-card-default uk-card-body uk-card-small"
                uk-sticky="bottom: true; offset: 90"
              >
                <ul
                  class="uk-nav uk-nav-default"
                  uk-scrollspy-nav="closest: li; scroll: true; offset: 90"
                >
                  <li><a href="#laptops-tablets">Laptops &amp; Tablets</a></li>
                  <li><a href="#phones-gadgets">Phones &amp; Gadgets</a></li>
                  <li><a href="#tv-video">TV &amp; Video</a></li>
                  <li>
                    <a href="#games-entertainment">Games &amp; Entertainment</a>
                  </li>
                  <li><a href="#photo">Photo</a></li>
                </ul>
              </nav>
            </aside>
            <div class="uk-width-1-1 uk-width-expand@m">
              <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
                <section id="laptops-tablets">
                  <div
                    class="uk-card uk-card-default uk-card-small tm-ignore-container"
                  >
                    <header class="uk-card-header">
                      <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <a href="/products/categories"
                          ><img
                            src="/media/images/static/catalog/computers.svg"
                            alt="Laptops &amp; Tablets"
                            width="50"
                            height="50"
                        /></a>
                        <div class="uk-width-expand">
                          <h2 class="uk-h4 uk-margin-remove">
                            <a
                              class="uk-link-heading"
                              href="/products/categories"
                              >Laptops &amp; Tablets</a
                            >
                          </h2>
                          <div class="uk-text-meta">367 items</div>
                        </div>
                      </div>
                    </header>
                    <div class="uk-card-body">
                      <ul class="uk-list">
                        <li><a href="subcategory.html">Laptops</a></li>
                        <li><a href="subcategory.html">Tablets</a></li>
                        <li><a href="subcategory.html">Peripherals</a></li>
                        <li><a href="subcategory.html">Keyboards</a></li>
                        <li><a href="subcategory.html">Accessories</a></li>
                      </ul>
                    </div>
                  </div>
                </section>
                <section id="phones-gadgets">
                  <div
                    class="uk-card uk-card-default uk-card-small tm-ignore-container"
                  >
                    <header class="uk-card-header">
                      <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <a href="/products/categories"
                          ><img
                            src="/media/images/static/catalog/phones.svg"
                            alt="Phones &amp; Gadgets"
                            width="50"
                            height="50"
                        /></a>
                        <div class="uk-width-expand">
                          <h2 class="uk-h4 uk-margin-remove">
                            <a
                              class="uk-link-heading"
                              href="/products/categories"
                              >Phones &amp; Gadgets</a
                            >
                          </h2>
                          <div class="uk-text-meta">144 items</div>
                        </div>
                      </div>
                    </header>
                    <div class="uk-card-body">
                      <ul class="uk-list">
                        <li><a href="subcategory.html">Smartphones</a></li>
                        <li><a href="subcategory.html">Mobile Phones</a></li>
                        <li><a href="subcategory.html">Smart watches</a></li>
                        <li>
                          <a href="subcategory.html">Charging and batteries</a>
                        </li>
                        <li><a href="subcategory.html">Accessories</a></li>
                      </ul>
                    </div>
                  </div>
                </section>
                <section id="tv-video">
                  <div
                    class="uk-card uk-card-default uk-card-small tm-ignore-container"
                  >
                    <header class="uk-card-header">
                      <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <a href="/products/categories"
                          ><img
                            src="/media/images/static/catalog/tv.svg"
                            alt="TV &amp; Video"
                            width="50"
                            height="50"
                        /></a>
                        <div class="uk-width-expand">
                          <h2 class="uk-h4 uk-margin-remove">
                            <a
                              class="uk-link-heading"
                              href="/products/categories"
                              >TV &amp; Video</a
                            >
                          </h2>
                          <div class="uk-text-meta">58 items</div>
                        </div>
                      </div>
                    </header>
                    <div class="uk-card-body">
                      <ul class="uk-list">
                        <li><a href="subcategory.html">TV</a></li>
                        <li><a href="subcategory.html">Home Cinema</a></li>
                        <li>
                          <a href="subcategory.html"
                            >Satellite &amp; Cable TV</a
                          >
                        </li>
                        <li><a href="subcategory.html">Projectors</a></li>
                        <li>
                          <a href="subcategory.html">DVD &amp; Blu-ray</a>
                        </li>
                        <li><a href="subcategory.html">Accessories</a></li>
                      </ul>
                    </div>
                  </div>
                </section>
                <section id="games-entertainment">
                  <div
                    class="uk-card uk-card-default uk-card-small tm-ignore-container"
                  >
                    <header class="uk-card-header">
                      <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <a href="/products/categories"
                          ><img
                            src="/media/images/static/catalog/games.svg"
                            alt="Games &amp; Entertainment"
                            width="50"
                            height="50"
                        /></a>
                        <div class="uk-width-expand">
                          <h2 class="uk-h4 uk-margin-remove">
                            <a
                              class="uk-link-heading"
                              href="/products/categories"
                              >Games &amp; Entertainment</a
                            >
                          </h2>
                          <div class="uk-text-meta">13 items</div>
                        </div>
                      </div>
                    </header>
                    <div class="uk-card-body">
                      <ul class="uk-list">
                        <li><a href="subcategory.html">Gaming consoles</a></li>
                        <li><a href="subcategory.html">Games</a></li>
                        <li><a href="subcategory.html">Software</a></li>
                        <li>
                          <a href="subcategory.html"
                            >Joysticks &amp; gamepads</a
                          >
                        </li>
                        <li><a href="subcategory.html">Accessories</a></li>
                      </ul>
                    </div>
                  </div>
                </section>
                <section id="photo">
                  <div
                    class="uk-card uk-card-default uk-card-small tm-ignore-container"
                  >
                    <header class="uk-card-header">
                      <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <a href="/products/categories"
                          ><img
                            src="/media/images/static/catalog/photo.svg"
                            alt="Photo"
                            width="50"
                            height="50"
                        /></a>
                        <div class="uk-width-expand">
                          <h2 class="uk-h4 uk-margin-remove">
                            <a
                              class="uk-link-heading"
                              href="/products/categories"
                              >Photo</a
                            >
                          </h2>
                          <div class="uk-text-meta">59 items</div>
                        </div>
                      </div>
                    </header>
                    <div class="uk-card-body">
                      <ul class="uk-list">
                        <li><a href="subcategory.html">Cameras</a></li>
                        <li><a href="subcategory.html">Lenses</a></li>
                        <li><a href="subcategory.html">Accessories</a></li>
                      </ul>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="uk-section uk-section-default uk-section-small">
    <div class="uk-container">
      <div uk-slider>
        <ul
          class="uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-5@m uk-grid"
        >
          <li>
            <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid>
              <div><span uk-icon="icon: star; ratio: 2.5;"></span></div>
              <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                <div>Mauris placerat</div>
                <div class="uk-text-meta">
                  Donec mollis nibh dolor, sit amet auctor
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid>
              <div><span uk-icon="icon: receiver; ratio: 2.5;"></span></div>
              <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                <div>Lorem ipsum</div>
                <div class="uk-text-meta">
                  Sit amet, consectetur adipiscing elit
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid>
              <div><span uk-icon="icon: location; ratio: 2.5;"></span></div>
              <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                <div>Proin pharetra</div>
                <div class="uk-text-meta">Nec quam a fermentum ut viverra</div>
              </div>
            </div>
          </li>
          <li>
            <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid>
              <div><span uk-icon="icon: comments; ratio: 2.5;"></span></div>
              <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                <div>Praesent ultrices</div>
                <div class="uk-text-meta">
                  Praesent ultrices, orci nec finibus
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid>
              <div><span uk-icon="icon: happy; ratio: 2.5;"></span></div>
              <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                <div>Duis condimentum</div>
                <div class="uk-text-meta">Pellentesque eget varius arcu</div>
              </div>
            </div>
          </li>
        </ul>
        <ul
          class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top"
        ></ul>
      </div>
    </div>
  </section>
</main>

{% endblock %}
