<!DOCTYPE html>
<html lang="en">
{% with website_name="Ecommerce WebSite by Onteri" website_short_name="Ecommerce Website" %}
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% block title %} <title>{{ website_name }}</title> {% endblock %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/libs/uikit.min.css' %}"/>
    </head>
    <body>
    <div class="uk-offcanvas-content">
        <header>
            {% include "header_generic.html" %}
        </header>
        {% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
        {% block content %}<!-- default content text (typically empty) -->{% endblock %}
        <section class="uk-section uk-section-default uk-section-small">
            <div class="uk-container">
                <div uk-slider>
                    <ul
                            class="uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-5@m uk-grid"
                    >
                        <li>
                            <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid>
                                <div><span uk-icon="icon: star; ratio: 2.5;"></span></div>
                                <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                                    <div>Mauris place</div>
                                    <div class="uk-text-meta">
                                        Donec mollis nibh dolor, sit amet auctor
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid>
                                <div><span uk-icon="icon: receiver; ratio: 2.5;"></span></div>
                                <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                                    <div>Lorem ipsum</div>
                                    <div class="uk-text-meta">
                                        Sit amet, consectetur adipiscing elit
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid>
                                <div><span uk-icon="icon: location; ratio: 2.5;"></span></div>
                                <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                                    <div>Proin pharetra</div>
                                    <div class="uk-text-meta">Nec quam a fermentum ut viverra</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid>
                                <div><span uk-icon="icon: comments; ratio: 2.5;"></span></div>
                                <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                                    <div>Praesent ultrices</div>
                                    <div class="uk-text-meta">
                                        Praesent ultrices, orci nec finibus
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid>
                                <div><span uk-icon="icon: happy; ratio: 2.5;"></span></div>
                                <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                                    <div>Duis condimentum</div>
                                    <div class="uk-text-meta">Pellentesque eget varius arcu</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul
                            class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top"
                    ></ul>
                </div>
            </div>
        </section>
        <footer>
            {% include "footer_generic.html" %}
        </footer>
    </div>
    <script src="{% static 'js/libs/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/libs/uikit.min.js' %}"></script>
    <script src="{% static 'js/libs/uikit-icons.min.js' %}"></script>
    {% block scripts %} <!-- scripts --> {% endblock %}
    </body>
{% endwith %}
</html>
