<footer>
    <section class="uk-section uk-section-secondary uk-section-small uk-light">
        <div class="uk-container">
            <div
                    class="uk-grid-medium uk-child-width-1-1 uk-child-width-1-4@m"
                    uk-grid
            >
                <div>
                    <a class="uk-logo" href="/"
                    ><img
                            src="/media/images/static/logo-inverse.svg"
                            width="90"
                            height="32"
                            alt="Logo"
                    /></a>
                    <p class="uk-text-small">
                        {{ website_name }} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut
                        mauris eros. Nulla quis ante sed tortor efficitur facilisis.
                    </p>
                    <ul class="uk-iconnav">
                        <li><a href="#" title="Facebook" uk-icon="facebook"></a></li>
                        <li><a href="#" title="Twitter" uk-icon="twitter"></a></li>
                        <li><a href="#" title="YouTube" uk-icon="youtube"></a></li>
                        <li><a href="#" title="Instagram" uk-icon="instagram"></a></li>
                    </ul>
                </div>
                <div>
                    <nav class="uk-grid-small uk-child-width-1-2" uk-grid>
                        <div>
                            <ul class="uk-nav uk-nav-default">
                                <li><a href="/products/catalog">Catalog</a></li>
                                <li><a href="brands.html">Brands</a></li>
                                <li><a href="delivery.html">Delivery</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="#">Payment</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul class="uk-nav uk-nav-default">
                                <li><a href="about.html">About</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="news.html">News</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div>
                    <ul class="uk-list uk-text-small">
                        <li>
                            <a class="uk-link-muted" href="#"
                            ><span class="uk-margin-small-right" uk-icon="receiver"></span
                            ><span class="tm-pseudo">8 800 799 99 99</span></a
                            >
                        </li>
                        <li>
                            <a class="uk-link-muted" href="#"
                            ><span class="uk-margin-small-right" uk-icon="mail"></span
                            ><span class="tm-pseudo">example@example.com</span></a
                            >
                        </li>
                        <li>
                            <div class="uk-text-muted">
                <span class="uk-margin-small-right" uk-icon="location"></span
                ><span>St.&nbsp;Petersburg, Nevsky&nbsp;Prospect&nbsp;28</span>
                            </div>
                        </li>
                        <li>
                            <div class="uk-text-muted">
                <span class="uk-margin-small-right" uk-icon="clock"></span
                ><span>Daily 10:00–22:00</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <form class="uk-form-stacked">
                        <label>
                            <div class="uk-form-label uk-text-muted">
                                Subscribe for updates
                            </div>
                            <div class="uk-inline uk-width-1-1">
                                <a
                                        class="uk-form-icon uk-form-icon-flip"
                                        href="#"
                                        uk-icon="mail"
                                ></a>
                                <input
                                        class="uk-input"
                                        type="email"
                                        placeholder="Your email"
                                        required
                                />
                            </div>
                        </label>
                    </form>
                    <div class="uk-margin uk-text-small uk-text-muted">
                        {{ website_name }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
